body{
    background-color: #548746;
}
 button {
      background-color: #00e88b; 
      color: white;
      padding: 12px 24px;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
      button:hover {
      background-color: #000000; 
    } 